body {
    background: rgb(233, 232, 232);
}

.form {
    float: left;
    width: 30%;
    margin: 15px;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid black;
}

.input {
    width: 100%;
    padding: 5px;
    margin: 6px 0 13px 0;
    border: 1px solid rgb(173, 173, 173);
    border-radius: 5px;
}

h2 {
    margin-top: 20px;
}

.submit {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#entry, #delete {
    width: 100px;
}

td, th {
    border: 2px solid black;
    column-width: 150px;
    text-align: center;
}

#table {
    border-collapse: collapse;
}